@import 'bourbon/bourbon';
@import '../src/static/css/style';

$footer-color: #7f7f7f;
$break: 880px;
$menu-height: 55px;

html,
body {
  height: 100%;
  padding: 0;
}

body {
  margin-top: $menu-height;
}

section {
  position: relative;
  padding: 10px;
}

@media (min-width: $break) {
  .grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .u-1-2 {
    display: block;
    width: 50%;
  }
}

.emoji {
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
}

.header-emojis {
  @include transition(opacity 0.3s ease-out);

  position: relative;
  margin-top: 55px;
  margin-left: auto;
  margin-right: auto;
  width: 48%;
  height: 100px;
  padding-left: 130px;
  text-align: left;
  display: table;
  table-layout: fixed;
  opacity: 1;

  > #he-img-container {
    position: absolute;
    left: 0;

    svg {
      width: 100px;
      height: 100px;
    }
  }

  > div {
    vertical-align: middle;
    display: table-cell;
    width: 100%;
  }

  &.out {
    opacity: 0;
  }
}

.header {
  background-color: $header-color;
  color: $white;

  h1, h2 {
    color: $white;
  }
}

.menu {
  -webkit-font-smoothing: subpixel-antialiased;
  padding: 0 10px;
  color: $header-color;
  position: absolute;
  background-color: $global-nav-color;
  top: 0;
  right: 0;
  left: 0;
  font-size: 18px;
  height: $menu-height;
  line-height: $menu-height;

  a {
    display: inline-block;
    padding: 0 10px;
    color: $white;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      background-color: lighten($header-color, 10%);
    }
  }
}

.menu-right {
  float: right;
}

.example-code {
  background-color: lighten($header-color, 58%);
  border-radius: 0;
  color: $black;
  margin: 0;
  overflow-x: auto;
}

.example-code-col {
  padding: 20px;
}

.dont-see-emojis {
  font-size: 12px;
}

.header-left-col {
  padding: 45px;
}

.header-linked-list {
  padding-top: 20px;
}

.emoji-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  div {
    width: percentage(1 / 6);
    padding: 0 20px;
  }
}

@media (max-width: $break) {
  .menu {
    font-size: 15px;
  }

  .example-code-col {
    padding: 10px;
  }

  .header-left-col {
    padding: 30px;
  }

  .emoji-row div {
    width: percentage(1 / 3);
  }
}

.features {
  .u-1-2 {
    padding: 10px 0;
  }

  .u-1-2:nth-child(odd) {
    padding-right: 5px;
  }
}

.footer {
  padding: 15px;
  color: $footer-color;
  text-align: center;
  font-size: 14px;
}
