@import 'bourbon/bourbon';
@import '../src/static/css/style';

$footer-color: #7f7f7f;
$break: 880px;
$menu-height: 50px;
$header-color: $p-intermediate;

html,
body {
  height: 100%;
  padding: 0;
}

body {
  margin-top: $menu-height;
}

.emoji {
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
}

.header {
  background-color: $header-color;
  color: $white;
  padding: 1.7em;
  padding-bottom: 3em;
  text-align: center;

  h1,
  h2 {
    color: $white;
  }

  h2 {
    margin: 0 auto 3rem;
    max-width: 600px;
  }
}

.menu {
  -webkit-font-smoothing: subpixel-antialiased;
  padding: 0 10px;
  color: $header-color;
  position: absolute;
  background-color: $global-nav-color;
  top: 0;
  right: 0;
  left: 0;
  font-size: 18px;
  height: $menu-height;
  line-height: $menu-height;

  a {
    display: inline-block;
    padding: 0 10px;
    color: $white;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      background-color: lighten($header-color, 10%);
    }
  }
}

.menu-right {
  float: right;
}

.example-code {
  background-color: lighten($header-color, 58%);
  border-radius: 0;
  color: $black;
  margin: 0;
  overflow-x: auto;
}

.example-code-col {
  padding: 20px;
}

.dont-see-emojis {
  font-size: 12px;
}

.l-button {
  appearance: none;
  border-radius: 50px;
  margin: 0.5em;
  padding: 0.7em 1.2em;
  color: $white;
  background: $p-bright;
  display: inline-block;

  &:hover {
    background: linear-gradient(to top, darken($p-bright, 3%), $p-bright);
    text-decoration: none;
  }
}

.emoji-row {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  div {
    width: percentage(1 / 6);
    padding: 0 20px;
  }
}

.grid {
  max-width: 960px;
  margin: 0 auto;
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
}

.feature {
  padding: 0.2em;
  width: 33.33%;

  h3 {
    margin-top: 0.6em;
  }

  pre {
    font-size: 12px;
  }
}

.action {
  background-color: $header-color;
  color: $white;
  padding: 1.7em;
  text-align: center;

  h2 {
    color: $white;
  }
}

.action-inner {
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width: $break) {
  .menu {
    font-size: 15px;
  }
}

.footer {
  padding: 18px;
  color: $footer-color;
  background-color: $global-nav-color;
  text-align: center;
  font-size: 14px;
}
