<div class="content">
  <div class="toc-wrapper">
    <div class="toc">
      <h2>{{bookTitle}}</h2>
      <ol data-gumshoe>
        {{#chapters}}
          <li>
            <a href="{{name}}.html"
                {{#current}}class="chapter-link current"{{/current}}
                {{^current}}class="chapter-link"{{/current}}>{{title}}</a>
            {{#current}}
              <ul>
              {{#sections}}
                <li>
                  <a href="#{{thisHeadingID}}" class="section-link">{{.}}</a>
                </li>
              {{/sections}}
              </ul>
            {{/current}}
          </li>
        {{/chapters}}
      </ol>
    </div>
  </div>

  {{>ads}}
	{{{content}}}

	<div class="book-navigation-bottom">
		{{#prev}}
		<a href="{{prev}}" class="left">
			← Previous
		</a>
		{{/prev}}
		{{#next}}
		<a href="{{next.href}}" class="right">
			Next Up: “{{next.title}}” →
		</a>
		{{/next}}
	</div>

  <div class="book-improve">
    Something not quite right?
    <a href="https://github.com/emojicode/emojicode.github.io/edit/{{branchName}}/{{sourcePath}}" target="_blank">
      Improve this page
    </a>
  </div>
</div>

<script src="/static/js/gumshoe.min.js"></script>
<script>
  gumshoe.init({ activeClass: 'current', offset: 80 });
</script>
