<div class="toc">
	<h2>{{bookTitle}}</h2>
	<ol>
  	{{#chapters}}
    	<li>
        <a href="{{name}}.html">{{title}}</a>
        {{#current}}
          <ul>
          {{#sections}}
            <li><a href="#{{thisHeadingID}}">{{.}}</a></li>
          {{/sections}}
          </ul>
        {{/current}}
      </li>
  	{{/chapters}}
	</ol>
</div>

<div class="content">
	{{{content}}}

	<div class="reference-navigation-bottom">
		{{#prev}}
		<a href="{{prev}}" class="left">
			← Previous
		</a>
		{{/prev}}
		{{#next}}
		<a href="{{next}}" class="right">
			Next →
		</a>
		{{/next}}
	</div>
</div>
