<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link href="{{rootpath}}static/css/style.css" rel="stylesheet" />
		<title>Emojicode Documentation{{#title}} &middot; {{title}}{{/title}}</title>
	</head>
	<body>
		<div class="global-nav">
			Help and more at <a href="http://emojicode.org">emojicode.org</a>.
		</div>
		<nav class="navbar" role="navigation" data-gumshoe-header>
			<a href="{{rootpath}}" class="logo">
        Emojicode <span class="logo-version">0.3 Beta</span> Documentation
      </a>
      <div class="navbar-right">
	      <a href="{{rootpath}}">Home</a>
	      <a href="{{rootpath}}guides">Guides</a>
				<a href="{{rootpath}}reference">Language Reference</a>
				<a href="{{rootpath}}packages">Package Index</a>
			</div>
		</nav>

		{{{content}}}

    <script src="{{rootpath}}static/js/gumshoe.min.js"></script>
    <script>
      gumshoe.init({ activeClass: 'current', offset: 80 });
    </script>
	</body>
</html>
