<div class="toc">
  <h3>Package</h3>
  <div class="link-list">
    <a href="../{{package}}">{{package}}</a>
  </div>

  {{#conformsToItems}}
    <h3>Conforms to</h3>
    <div class="link-list u4">
      {{#conformsTo}}
        {{{thisTypeLink}}}
      {{/conformsTo}}
    </div>
  {{/conformsToItems}}
  {{#superclass}}
    <h3>Superclass</h3>
    <div class="link-list u4">
      {{{thisTypeLink}}}
    </div>
  {{/superclass}}
  {{#initializers.length}}
    <h3>Initializers</h3>
    <div class="link-list u4">
      {{#initializers}}
        {{#procedureVisible}}
          <a href="#i{{name}}">{{name}}</a>
        {{/procedureVisible}}
      {{/initializers}}
    </div>
  {{/initializers.length}}
  {{#methods.length}}
    <h3>Methods</h3>
    <div class="link-list u4">
      {{#methods}}
        {{#procedureVisible}}
          <a href="#m{{name}}">{{name}}</a>
        {{/procedureVisible}}
      {{/methods}}
    </div>
  {{/methods.length}}
  {{#classMethods.length}}
    <h3>Class Methods</h3>
    <div class="link-list u4">
      {{#classMethods}}
        {{#procedureVisible}}
          <a href="#cm{{name}}">{{name}}</a>
        {{/procedureVisible}}
      {{/classMethods}}
    </div>
  {{/classMethods.length}}
</div>
<div class="content">
<h1>{{typeType}} {{typeName}}{{#genericArguments}} 🐚{{name}}{{{constraintTypeLink}}}{{/genericArguments}}</h1>
<p>{{{mdDocumentation}}}</p>

{{#initializers.length}}
  <h2>Initializers</h2>
  {{#initializers}}
    {{#procedureVisible}}
      <div class="method">
        <div class="method-heading">
          <h3 class="method-emoji" id="i{{name}}">{{name}}</h3>
          {{#deprecated}}<span class="label label-danger">Deprecated since {{deprecated}}</span>{{/deprecated}}
        </div>

        <pre class="declaration">{{simpleAccess}}{{#canReturnNothingness}}🍬 {{/canReturnNothingness}}🐈 {{name}} {{#arguments}}{{name}} {{{typeLink}}} {{/arguments}}</pre>

        {{>argdoc}}
      </div>
    {{/procedureVisible}}
  {{/initializers}}
{{/initializers.length}}

{{#methods.length}}
  <h2>Methods</h2>

  {{#methods}}
    {{#procedureVisible}}
      <div class="method">
        <div class="method-heading">
          <h3 class="method-emoji" id="m{{name}}">{{name}}</h3>
          {{#deprecated}}<span class="label label-danger">Deprecated since {{deprecated}}</span>{{/deprecated}}
        </div>

        <pre class="declaration">{{simpleAccess}}🐖 {{name}}{{#genericArguments}} 🐚{{name}}{{{constraintTypeLink}}}{{/genericArguments}} {{#arguments}}{{name}} {{{typeLink}}} {{/arguments}}{{#returnType}}➡️ {{{thisTypeLink}}}{{/returnType}}</pre>

        {{>argdoc}}
      </div>
    {{/procedureVisible}}
  {{/methods}}
{{/methods.length}}

{{#classMethods.length}}
  <h2>Class Methods</h2>

  {{#classMethods}}
    {{#procedureVisible}}
      <div class="method">
        <div class="method-heading">
          <h3 class="method-emoji" id="cm{{name}}">{{name}}</h3>
          {{#deprecated}}<span class="label label-danger">Deprecated since {{deprecated}}</span>{{/deprecated}}
      </div>

      <pre class="declaration">{{simpleAccess}}🐇🐖 {{name}}{{#genericArguments}} 🐚{{name}}{{{constraintTypeLink}}}{{/genericArguments}} {{#arguments}}{{name}} {{{typeLink}}} {{/arguments}}{{#returnType}}➡️ {{{thisTypeLink}}}{{/returnType}}</pre>

      {{>argdoc}}
      </div>
    {{/procedureVisible}}
  {{/classMethods}}
{{/classMethods.length}}
</div>
