<nav class="menu" role="navigation">
  <a href="/">Emojicode</a>

  <div class="menu-right">
    <a href="/docs/" {{#isDocumentation}}class="active"{{/isDocumentation}}>Documentation</a>
    <a href="https://github.com/emojicode">GitHub</a>
  </div>
</nav>
