<nav class="menu" role="navigation">
  <a class="menu-logo" href="/">Emojicode</a>

  <div class="menu-right">
    <a href="{{docsRoot}}" {{#isDocumentation}}class="active"{{/isDocumentation}}>Documentation</a>
    <a href="https://github.com/emojicode">GitHub</a>
  </div>
</nav>
