<section>
	<h1>Packages</h1>

  <h2>Default Packages</h2>

	<p>
		These packages ship with Emojicode by default and do not need to be
    installed separately.
  </p>

	<div class="link-list">
		{{#packages}}
			<a href="{{name}}" class="link-box">
        <div class="name">
          {{name}}
        </div>
        {{sentence}}
      </a>
		{{/packages}}
	</div>

  <h2>Available Packages</h2>

  <p>
    These packages can be installed separately.
  </p>

  <div class="link-list">
    {{#externalPackages}}
      <a href="{{name}}" class="link-box">
        <div class="name">
          {{name}}
        </div>
        {{sentence}}
      </a>
    {{/externalPackages}}
  </div>
</section>
