<section>
	<h1>Packages</h1>

	<p>
		This page lists all packages that ship with Emojicode by default.
  </p>

	<div class="link-list">
		{{#packages}}
			<a href="{{name}}" class="link-box">
        <div class="name">
          {{name}}
        </div>
        {{sentence}}
      </a>
		{{/packages}}
	</div>
</section>
