<section>
  {{>pre_release_warning}}

	<h1>Package {{name}}</h1>
	{{{packageDocumentation}}}

  <h2>Types</h2>

  <div class="link-list">
    {{#types}}
      <a href="{{asciiName}}.html" class="link-box">
        <div class="name">
          {{name}}
        </div>
        {{firstSentence}}
      </a>
    {{/types}}
  </div>
</section>
