<div class="pre-release-warning">
  This document describes Emojicode 0.6 (Symphonic) Beta 2, a pre-release of
  Emojicode. Go to <a href="https://stable.emojicode.org">stable.emojicode.org</a>
  for the latest stable release.
</div>
