<div class="pre-release-warning">
  This document describes Emojicode Symphonic 0.6 alpha, a pre-release of
  Emojicode. Go to <a href="https://www.emojicode.org">www.emojicode.org</a>
  for the latest stable release.
</div>
