<div class="content">
  <div class="toc-wrapper">
    <div class="toc">
      <h3>Package</h3>
      <div class="link-list">
        <a href="../{{package}}">{{package}}</a>
      </div>

      {{#conformances.length}}
        <h3>Conforms to</h3>
        <div class="link-list">
          {{#conformances}}
            {{{thisTypeLink}}}
          {{/conformances}}
        </div>
      {{/conformances.length}}
      {{#superclass}}
        <h3>Superclass</h3>
        <div class="link-list">
          {{{thisTypeLink}}}
        </div>
      {{/superclass}}
      {{#initializers.length}}
        <h3>Initializers</h3>
        <div class="link-list">
          {{#initializers}}
            <a href="#i{{name}}">{{name}}</a>
          {{/initializers}}
        </div>
      {{/initializers.length}}
      {{#values.length}}
        <h3>Enumeration Values</h3>
        <div class="link-list">
        {{#values}}
          <a href="#ev{{value}}">{{value}}</a>
        {{/values}}
        </div>
      {{/values.length}}
      {{#methods.length}}
        <h3>Methods</h3>
        <div class="link-list">
          {{#methods}}
            <a href="#m{{name}}{{mood}}">{{name}}{{mood}}</a>
          {{/methods}}
        </div>
      {{/methods.length}}
      {{#typeMethods.length}}
        <h3>Type Methods</h3>
        <div class="link-list">
          {{#typeMethods}}
            <a href="#cm{{name}}{{mood}}">{{mood}}{{name}}</a>
          {{/typeMethods}}
        </div>
      {{/typeMethods.length}}
    </div>
  </div>

  <h1>{{title}}{{#genericParameters.length}}🐚{{#genericParameters}}{{name}}{{{constraintTypeLink}}}{{/genericParameters}}🍆{{/genericParameters.length}}</h1>
  <p>{{{mdDocumentation}}}</p>

  {{#initializers.length}}
    <h2>Initializers</h2>
    {{#initializers}}
      <div class="method">
        <div class="method-heading">
          <h3 class="method-emoji" id="i{{name}}">{{name}}</h3>
          {{#deprecated}}<span class="label label-danger">Deprecated since {{deprecated}}</span>{{/deprecated}}
        </div>

        <pre class="declaration">{{attributes}}{{access}}🆕 {{name}} {{#errorType}}🚨{{{thisTypeLink}}} {{/errorType}}{{#parameters}}{{name}} {{{typeLink}}} {{/parameters}}</pre>

        {{{mdDocumentation}}}
      </div>
    {{/initializers}}
  {{/initializers.length}}

  {{#values.length}}
    <h2>Enumeration Values</h2>

    {{#values}}
      <div class="method">
        <div class="method-heading">
          <h3 class="method-emoji" id="ev{{value}}">{{value}}</h3>
        </div>

        {{{mdDocumentation}}}
      </div>
    {{/values}}
  {{/values.length}}

  {{#methods.length}}
    <h2>Methods</h2>

    {{#methods}}
    <div class="method">
      <div class="method-heading">
        <h3 class="method-emoji" id="m{{name}}{{mood}}">{{name}}{{mood}}</h3>
        {{#deprecated}}<span class="label label-danger">Deprecated since {{deprecated}}</span>{{/deprecated}}
      </div>

      <pre class="declaration">{{attributes}}{{access}}{{mood}} {{name}}{{#genericParameters.length}}🐚{{#genericParameters}}{{name}}{{{constraintTypeLink}}}{{/genericParameters}}🍆{{/genericParameters.length}} {{#parameters}}{{name}} {{{typeLink}}} {{/parameters}}{{{returnTypeLink}}}</pre>

      {{{mdDocumentation}}}
    </div>
    {{/methods}}
  {{/methods.length}}

  {{#typeMethods.length}}
    <h2>Type Methods</h2>

    {{#typeMethods}}
    <div class="method">
      <div class="method-heading">
        <h3 class="method-emoji" id="cm{{name}}">{{name}}</h3>
        {{#deprecated}}<span class="label label-danger">Deprecated since {{deprecated}}</span>{{/deprecated}}
      </div>

      <pre class="declaration">{{attributes}}{{access}}🐇{{mood}} {{name}}{{#genericParameters.length}}🐚{{#genericParameters}}{{name}}{{{constraintTypeLink}}}{{/genericParameters}}🍆{{/genericParameters.length}} {{#parameters}}{{name}} {{{typeLink}}} {{/parameters}}{{{returnTypeLink}}}</pre>

      {{{mdDocumentation}}}
      </div>
    {{/typeMethods}}
  {{/typeMethods.length}}
</div>
