@import 'latolatinfonts';

@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local('Varela Round'), local('VarelaRound-Regular'),
       url(/docs/static/fonts/VarelaRound-Regular.ttf) format('woff');
}

$header-color: #312d67;
$navbar-height: 50px;
$navbar-item-color: #fff;

$global-nav-height: 30px;
$global-nav-color: #25224d;
$global-nav-text-color: #999;

$code-background: #eee;
$code-font: Monaco, Menlo, monospace;

$heavy-link-color: lighten($header-color, 40%);
$heavy-link-hover-color: lighten($header-color, 45%);

$callout-note: #ffb300;
$callout-hint: rgb(45, 121, 210);

$version-color: #68389c;

$link-color: lighten($header-color, 30%);
$font-color: rgb(58, 58, 58);
$background-color: rgb(254, 254, 254);

$table-alternative-color: #f8f8f8;
$table-border-color: #ddd;
$table-row-border-top-color: #ccc;

$logo-letter-spacing: -0.03em;

$content-width: 700px;

$white: #fff;
$black: #000;

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;

  padding-top: 80px;
  padding-bottom: 24px;

  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  color: $font-color;
  text-rendering: optimizelegibility;

  font-family: LatoLatinWeb, proxima-nova, 'Helvetica Neue', Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;

  background-color: $background-color;
}

a {
  text-decoration: none;
  color: $link-color;

  &:hover {
    text-decoration: underline;
  }
}

p {
  line-height: 27px;
}

pre,
code {
  font-family: $code-font;
}

pre {
  padding: 20px;
  background-color: $code-background;
  font-size: 0.9em;
  overflow-x: scroll;
}

code {
  border-radius: 3px;
  font-size: 0.9em;
  padding: 2px;
}

section,
.content {
  max-width: $content-width;
  margin: 0 auto;
  padding: 0 20px;
}

h1 {
  font-size: 2.8em;
}

h1,
h2,
h3,
h4 {
  font-family: Varela Round;
  font-weight: normal;
  color: $header-color;
  margin-top: 2.9rem;
  margin-bottom: 0.6rem;
}

table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: keep-all;
  border-collapse: collapse;
  border-spacing: 0;

  th {
    font-weight: bold;
  }

  th,
  td {
    padding: 6px 13px;
    border: 1px solid $table-border-color;
  }

  tr {
    background-color: $white;
    border-top: 1px solid $table-row-border-top-color;
  }

  tr:nth-child(2n) {
    background-color: $table-alternative-color;
  }
}

// ==== SPECIAL ====

.global-nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: $global-nav-height;
  line-height: $global-nav-height;
  background-color: $global-nav-color;
  color: $global-nav-text-color;
  font-size: 14px;
  padding: 0 10px;
  z-index: 1000;
}

.global-nav-link {
  padding: 0 4px;
}

.navbar {
  position: fixed;
  top: $global-nav-height;
  width: 100%;
  height: $navbar-height;
  line-height: $navbar-height;
  background-color: $header-color;
  -webkit-font-smoothing: subpixel-antialiased;
  z-index: 1000;
  white-space: nowrap;

  a {
    display: inline-block;
    padding: 0 10px;
    color: $navbar-item-color;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      background-color: lighten($header-color, 10%);
    }
  }
}

.logo {
  font-family: Varela Round, sans-serif;
  letter-spacing: $logo-letter-spacing;
  font-size: 22px;
  float: left;
}

.logo-version {
  border-radius: 4px;
  padding: 0.1em 0.2em;
  background-color: $version-color;
}

.navbar-right {
  float: right;
}

:target:before {
  background-color: transparent;
  content: '';
  display: block;
  height: $navbar-height + $global-nav-height + 10px;
  margin: -($navbar-height + $global-nav-height + 10px) 0 0;
}

.method-emoji {
  font-size: 36px;
}

.link-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  a {
    display: block;
    padding: 13px;
    margin: 0;
    box-sizing: 0;
    text-align: center;
    color: $white;
    background-color: $heavy-link-color;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      background-color: $heavy-link-hover-color;
    }

    .name {
      font-size: 36px;
    }
  }

  &.u4 a {
    width: 25%;
  }

  &.u3 a {
    width: 33.33333%;
  }
}

.toc {
  position: absolute;
  left: 0;
  top: $global-nav-height + $navbar-height;
  bottom: 0;
  width: 300px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  font-size: 14px;
  padding: 12px;
  z-index: 100;

  &.fixed {
    position: fixed;
  }

  a {
    display: block;
  }
}

.content {
  margin-left: 310px;
}

@media (max-width: 750px), print {
  .toc,
  .toc.fixed {
    position: relative;
    width: auto;
    display: block;
  }

  .content {
    margin-left: 0;
  }
}

@mixin callout($color) {
  margin: 25px 0;
  background-color: lighten($color, 41%);

  .title {
    background-color: $color;
    color: $white;
    padding: 7px;
    margin-bottom: 3px;
    margin-top: 0;
  }

  .text {
    padding: 18px 13px;
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.callout-caution {
  @include callout($callout-note);
}

.callout-hint {
  @include callout($callout-hint);
}

.instructions-table {
  font-size: 16px;

  ol {
    margin: 0;
  }
}

.reference-navigation-bottom .right {
  float: right;
  text-align: right;
}
