<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://thbwd.github.io/emojifont/emojicode.css">
    <title>Emojicode</title>
    <meta charset="utf8">
    <link rel="stylesheet" href="/static/css/front.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Emojicode is a full-blown programming language consisting of emojis.">
  </head>
  <body>
    {{>menu}}

    <section class="header" id="header">
      <div class="header-inner">
        <h1>Emojicode</h1>
        <h2>
          Emojicode is an open-source, full-blown programming language
          consisting of emojis.
        </h2>

        <a class="l-button" href="/docs/guides/install.html">Install Emojicode 0.6 alpha</a>
        <a class="l-button" href="/docs/guides/compile-and-run.html">Visit the docs</a>

        <h3 class="socialize-text">Or Stay in touch with Emojicode</h3>
        <div class="socialize">
          <iframe src="https://ghbtns.com/github-btn.html?user=emojicode&repo=emojicode&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>

          <a class="twitter-follow-button" href="https://twitter.com/Real_Emojicode" data-size="large" data-show-count="false">
            Follow @Real_Emojicode
          </a>
        </div>
      </div>
      <img src="/static/img/hero.png">
    </section>

    {{=<% %>=}}

    <section id="features" class="features">
      <div class="features-list">
        <h1 class="features-heading">Great Power</h1>
        <p>Emojicode is a language that aims to provide the most modern and powerful features to make it easy, fast and fun to write programs. Here is a short list of its most powerful features:</p>
        <ol class="features-ol">
          <li class="feature" v-for="feature in features" :class="{ active: feature === activeFeature }" @click="activeFeature = feature">
            <img src="/static/img/checkmark-outline.svg" class="icon">
            <h3>{{ feature.title }}</h3>
            <div class="text">{{ feature.text }}</div>
          </li>
        </ol>
      </div>
      <div class="feature-example">
        <pre class="feature-pre">{{ activeFeature.example }}</pre>
      </div>
    </section>

    <div class="action">
      <div class="action-inner">
        <h2>Learn Emojicode!</h2>

        <p>
          Emojicode is a straightforward language to learn, whatever background
          you have. Our documentation is known to be excellent and stuffed with
          walk-through guides and examples.
        </p>

        <div>
          <a class="l-button" href="/docs/">Emojicode Documentation</a>
        </div>

        <h2>Get involved!</h2>
        <p>
          You can help Emojicode grow! Development takes place on GitHub and you’re
          invited to drop in.
        </p>

        <div>
          <a class="l-button" href="https://github.com/emojicode/emojicode">GitHub Repo</a>
        </div>
      </div>
    </div>

    <script src="https://platform.twitter.com/widgets.js" async="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.1/vue.min.js"></script>
    <script src="/static/js/front.js"></script>
  </body>
</html>
