<!DOCTYPE html>
<html>
  <head>
    <title>Emojicode</title>
    <meta charset="utf8">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.1/vue.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Emojicode is a full-blown programming language consisting of emojis.">
  </head>
  <body>
    {{>menu}}

    <div class="header" id="header">
      <section class="emoji-row">
        <div>
          <img src="/static/img/1f347.svg">
        </div>
        <div>
          <img src="/static/img/1f366.svg">
        </div>
        <div>
          <img src="/static/img/2764.svg">
        </div>
      </section>

      <h1>Emojicode</h1>
      <h2>
        Emojicode is an open-source, full-blown programming language
        consisting of emojis.
      </h2>

      <a class="l-button" href="/docs/guides/install.html">Install Emojicode 0.5</a>
      <a class="l-button" href="/docs/guides/compile-and-run.html">Taste Emojicode</a>
    </div>

    <section class="socialize">
      <iframe src="https://ghbtns.com/github-btn.html?user=emojicode&repo=emojicode&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>

      <a class="twitter-follow-button" href="https://twitter.com/Real_Emojicode" data-size="large" data-show-count="false">
        Follow @Real_Emojicode
      </a>
    </section>

    {{=<% %>=}}

    <section id="features" class="features">
      <ol class="features-list">
        <li class="feature" v-for="feature in features" :class="{ active: feature === activeFeature }" @click="activeFeature = feature">
          <h3>{{ feature.title }}</h3>
          <div class="text">{{ feature.text }}</div>
        </li>
      </ol>
      <div class="feature-example">
        <pre class="feature-pre">{{ activeFeature.example }}</pre>
      </div>
    </section>

    <div class="action">
      <div class="action-inner">
        <h2>Learn Emojicode!</h2>

        <p>
          Emojicode is a straightforward language to learn, whatever background
          you have. Our documentation is known to be excellent and stuffed with
          walk-through guides and examples.
        </p>

        <div>
          <a class="l-button" href="/docs/guides/install.html">Install Emojicode 0.5</a>
          <a class="l-button" href="/docs/">Emojicode Documentation</a>
        </div>

        <h2>Get involved!</h2>
        <p>
          You can help Emojicode grow! Development takes place on GitHub and you’re
          invited to drop in.
        </p>

        <div>
          <a class="l-button" href="https://github.com/emojicode/emojicode">GitHub Repo</a>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="container">
        Emojis by Twitter &middot; Built and maintained by Theo Weidmann
      </div>
    </div>
    <script src="/static/js/front.js"></script>
    <script src="https://platform.twitter.com/widgets.js" async="true"></script>
  </body>
</html>
