@import 'latolatinfonts';

@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local('Varela Round'), local('VarelaRound-Regular'),
       url(/static/fonts/VarelaRound-Regular.ttf);
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono-Regular'),
       url(/static/fonts/RobotoMono-Regular.ttf);
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Mono'), local('RobotoMono-Bold'),
       url(/static/fonts/RobotoMono-Bold.ttf);
}

// Emojicode Brand Colors

$white: #fff;
$black: #000;
$gray: #eee;
$p-dark: #25224d;
$p-intermediate: #312d67;
$p-soft: #68389c;
$p-bright: #934edc;
$p-gray: lighten($p-intermediate, 65%);

// General Colors

$background-color: rgb(254, 254, 254);
$text-color: rgb(58, 58, 58);
$link-color: lighten($p-intermediate, 30%);
$pre-background: $gray;
$code-font: Roboto Mono, Monaco, monospace;
$code-background: $p-gray;

// Heading Settings

$heading-letter-spacing: -0.03em;
$heading-color: $p-intermediate;

// Global Menu Colors

$menu-height: 50px;
$menu-color: $p-intermediate;

// Table Settings

$table-alternative-color: #f8f8f8;
$table-border-color: #ddd;
$table-row-border-top-color: #ccc;

$footer-color: #7f7f7f;
$break: 880px;

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;

  padding-bottom: 24px;

  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  color: $text-color;
  text-rendering: optimizelegibility;

  font-family: LatoLatinWeb, proxima-nova, 'Helvetica Neue', Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;

  background-color: $background-color;
  margin-top: $menu-height;
}

a {
  text-decoration: none;
  color: $link-color;

  &:hover {
    text-decoration: underline;
  }
}

p {
  line-height: 1.5em;
}

h1 {
  font-size: 2.8em;
}

h1,
h2,
h3,
h4 {
  font-family: Varela Round;
  font-weight: normal;
  color: $heading-color;
  margin-top: 2.9rem;
  margin-bottom: 0.6rem;
  letter-spacing: $heading-letter-spacing;
}

pre,
code {
  font-family: $code-font;
}

pre {
  padding: 1.05em;
  background-color: $pre-background;
  font-size: 0.9em;
  overflow-x: scroll;
  position: relative;

  code {
    padding: 0;
    background: none;
    // font-size: 1em;
  }
}

code {
  display: inline-block;
  background-color: $code-background;
  padding: 0 0.2em;
  font-size: 0.9em;
  border-radius: 2px;
}

.menu {
  -webkit-font-smoothing: subpixel-antialiased;
  padding: 0 10px;
  color: $white;
  position: absolute;
  background-color: $menu-color;
  top: 0;
  right: 0;
  left: 0;
  font-size: 18px;
  height: $menu-height;
  line-height: $menu-height;

  a {
    display: inline-block;
    padding: 0 10px;
    color: $white;
    text-decoration: none;

    &:hover,
    &.active {
      text-decoration: none;
      background-color: lighten($menu-color, 10%);
    }
  }
}

.menu-right {
  float: right;
}
