@import 'base';

body {
  background: linear-gradient(to bottom, $background-color, $p-gray);
}

.header {
  background-color: $p-intermediate;
}

.header__inner {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  font-size: 1.125em;
  padding: 3em 3em 3em;

  h1,
  h2 {
    color: $white;
  }

  h2 {
    margin: 0 auto 3rem;
  }
}

.header-grape {
  z-index: 1500;
  position: absolute;
  right: 108px;
  top: 120px;
  width: 400px;
}

.header-inner {
  position: relative;
  z-index: 1000;
}

.l-button {
  @extend %display-font;
  appearance: none;
  border-radius: $border-radius;
  padding: 0.7em 1.2em;
  color: $white;
  display: inline-block;
  background: linear-gradient(to top, $p-soft, adjust-hue($p-soft, 5deg));
  line-height: normal;

  &:hover {
    background: linear-gradient(to top, $p-soft, lighten(adjust-hue($p-soft, 7deg), 2%));
    text-decoration: none;
  }
}

.socialize-text {
  color: $white;
  margin-top: 2.5rem;
  margin-bottom: 0.92em;
  text-transform: uppercase;
  font-size: 0.58em;
  letter-spacing: 0.02em;
}

.socialize {
  display: flex;
}

.features {
  width: 100%;
  margin-top: 0.5rem;
}

.features-wrapper {
  display: flex;
  justify-content: center;
}

.feature {
  text-align: center;
  padding: 0 0.7rem;
  width: 290px;
  margin: 0 2rem;
  margin-top: 2.8rem;
}

.feature-emoji svg {
  max-height: 76px;
}

.feature-heading {
  margin-top: 1.2rem;
}

.feature-text {
  margin: 0;
  font-size: 0.9rem;
  color: lighten($text-color, 2.6%);
}

.action {
  margin: 3.5rem 2rem;
}

.action-inner {
  max-width: 800px;
  margin: 0 auto;
}

.hello-world {
  margin: 5.4rem 0;
}

.hello-world__h2 {
  text-align: center;
}

.hello-world__pre-container {
  display: flex;
  justify-content: center;
}

.hello-world__pre {
  background-color: transparent;
  font-size: 2.8em;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 1000px) {
  .menu {
    font-size: 15px;
  }

  .header {
    padding: 2rem;

    h2 {
      font-size: 1.55rem;
      margin-bottom: 1.2rem;
    }
  }

  .header-grape {
    display: none;
  }

  .socialize {
    display: block;
  }

  .features-wrapper {
    display: block;
  }

  .feature {
    width: auto;
  }

  .hello-world__pre {
    font-size: 1.42rem;
  }

  .header__inner {
    width: auto;
  }

  .front-ad {
    display: none;
  }
}

.footer {
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 13px;
  color: $p-soft;
}

.footer--link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

#carbonads {
  float: right;
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
  max-width: 180px;
  color: $white;
  padding: 0.8rem;
  margin-left: 1.25rem;
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
  font-size: 0.75rem;
}

.carbon-text {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

#carbonads span {
  position: relative;
  display: block;
  overflow: hidden;
}

.carbon-img {
  display: block;
  margin-bottom: 8px;
  line-height: 1;
}

.carbon-img img {
  display: block;
  height: auto;
}

.carbon-text {
  display: block;
  margin-bottom: 0.25rem;
}

.carbon-poweredby {
  display: block;
  font-size: 0.6rem;
  color: darken(desaturate($p-gray, 30%), 36%);
}
