@import 'base';

body {
  background: linear-gradient(to bottom, $background-color, $p-gray);
}

.header {
  background-color: $p-intermediate;
  font-size: 1.125em;
  padding: 4.8em 3em 3em;
  position: relative;
  overflow: hidden;

  h1,
  h2 {
    color: $white;
  }

  h2 {
    margin: 0 auto 3rem;
  }
}

.header-grape {
  float: right;
  width: 300px;
}

.header-inner {
  position: relative;
  z-index: 1000;
}

.l-button {
  @extend %display-font;
  appearance: none;
  border-radius: $border-radius;
  padding: 0.7em 1.2em;
  color: $white;
  display: inline-block;
  background: linear-gradient(to top, $p-soft, adjust-hue($p-soft, 5deg));
  line-height: normal;

  &:hover {
    background: linear-gradient(to top, $p-soft, lighten(adjust-hue($p-soft, 7deg), 2%));
    text-decoration: none;
  }
}

.socialize-text {
  color: $white;
  margin-top: 2.5rem;
  margin-bottom: 0.92em;
  text-transform: uppercase;
  font-size: 0.58em;
  letter-spacing: 0.02em;
}

.socialize {
  display: flex;
}

.features {
  width: 100%;
  margin-top: 0.5rem;
}

.features-wrapper {
  display: flex;
  justify-content: center;
}

.feature {
  text-align: center;
  padding: 0 0.7rem;
  width: 290px;
  margin: 0 2rem;
  margin-top: 2.8rem;
}

.feature-emoji svg {
  max-height: 76px;
}

.feature-heading {
  margin-top: 1.2rem;
}

.feature-text {
  margin: 0;
  font-size: 0.9rem;
  color: lighten($text-color, 2.6%);
}

.action {
  margin: 3.5rem 2rem;
}

.action-inner {
  max-width: 800px;
  margin: 0 auto;
}

.hello-world {
  margin: 5.4rem 0;
}

.hello-world__h2 {
  text-align: center;
}

.hello-world__pre-container {
  display: flex;
  justify-content: center;
}

.hello-world__pre {
  background-color: transparent;
  font-size: 2.8em;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: $break) {
  .menu {
    font-size: 15px;
  }

  .header {
    padding: 2rem;

    h2 {
      font-size: 1.55rem;
      margin-bottom: 1.2rem;
    }
  }

  .header-grape {
    float: none;
    width: 130px;
  }

  .socialize {
    display: block;
  }

  .features-wrapper {
    display: block;
  }

  .feature {
    width: auto;
  }

  .hello-world__pre {
    font-size: 1.42rem;
  }
}
