@import 'latolatinfonts';

@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local('Varela Round'), local('VarelaRound-Regular'),
       url(/fonts/VarelaRound-Regular.ttf);
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono-Regular'),
       url(/fonts/RobotoMono-Regular);
}

// Emojicode Brand Colors

$white: #fff;
$black: #000;
$gray: #eee;
$p-dark: #25224d;
$p-intermediate: #312d67;
$p-soft: #68389c;
$p-bright: #934edc;
$p-gray: lighten($p-intermediate, 65%);

// General Colors

$background-color: rgb(254, 254, 254);
$text-color: rgb(58, 58, 58);
$link-color: lighten($p-intermediate, 30%);
$pre-background: $gray;
$code-font: Roboto Mono, Monaco, monospace;
$code-background: $p-gray;

// Heading Settings

$heading-letter-spacing: -0.03em;
$heading-color: $p-intermediate;

// Global Menu Colors

$menu-height: 50px;
$menu-color: $p-intermediate;

// Table Settings

$table-alternative-color: #f8f8f8;
$table-border-color: #ddd;
$table-row-border-top-color: #ccc;

$footer-color: #7f7f7f;
$break: 880px;

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;

  padding-bottom: 24px;

  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  color: $text-color;
  text-rendering: optimizelegibility;

  font-family: LatoLatinWeb, proxima-nova, 'Helvetica Neue', Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;

  background-color: $background-color;
  margin-top: $menu-height;
}

a {
  text-decoration: none;
  color: $link-color;

  &:hover {
    text-decoration: underline;
  }
}

p {
  line-height: 27px;
}

h1 {
  font-size: 2.8em;
}

h1,
h2,
h3,
h4 {
  font-family: Varela Round;
  font-weight: normal;
  color: $heading-color;
  margin-top: 2.9rem;
  margin-bottom: 0.6rem;
  letter-spacing: $heading-letter-spacing;
}

table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: keep-all;
  border-collapse: collapse;
  border-spacing: 0;

  th {
    font-weight: bold;
  }

  th,
  td {
    padding: 6px 13px;
    border: 1px solid $table-border-color;
  }

  tr {
    background-color: $white;
    border-top: 1px solid $table-row-border-top-color;
  }

  tr:nth-child(2n) {
    background-color: $table-alternative-color;
  }
}

pre,
code {
  font-family: $code-font;
}

pre {
  padding: 1.05em;
  background-color: $pre-background;
  font-size: 0.9em;
  overflow-x: scroll;
  position: relative;

  code {
    padding: 0;
    background: none;
    // font-size: 1em;
  }
}

code {
  display: inline-block;
  background-color: $code-background;
  padding: 0 0.2em;
  font-size: 0.9em;
  border-radius: 2px;
}

.menu {
  -webkit-font-smoothing: subpixel-antialiased;
  padding: 0 10px;
  color: $white;
  position: absolute;
  background-color: $menu-color;
  top: 0;
  right: 0;
  left: 0;
  font-size: 18px;
  height: $menu-height;
  line-height: $menu-height;

  a {
    display: inline-block;
    padding: 0 10px;
    color: $white;
    text-decoration: none;

    &:hover,
    &.active {
      text-decoration: none;
      background-color: lighten($menu-color, 10%);
    }
  }
}

.menu-right {
  float: right;
}

.header {
  background-color: $menu-color;
  color: $white;
  padding: 1.7em;
  padding-bottom: 3em;
  text-align: center;

  h1,
  h2 {
    color: $white;
  }

  h2 {
    margin: 0 auto 3rem;
    max-width: 600px;
  }
}

.example-code {
  background-color: lighten($menu-color, 58%);
  border-radius: 0;
  color: $black;
  margin: 0;
  overflow-x: auto;
}

.example-code-col {
  padding: 20px;
}

.dont-see-emojis {
  font-size: 12px;
}

.l-button {
  appearance: none;
  border-radius: 50px;
  margin: 0.5em;
  padding: 0.7em 1.2em;
  color: $white;
  background: $p-bright;
  display: inline-block;

  &:hover {
    background: linear-gradient(to top, darken($p-bright, 3%), $p-bright);
    text-decoration: none;
  }
}

.emoji-row {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  div {
    width: percentage(1 / 6);
    padding: 0 20px;
  }
}

.grid {
  max-width: 960px;
  margin: 0 auto;
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
}

.feature {
  padding: 0.2em;
  width: 33.33%;

  h3 {
    margin-top: 0.6em;
  }

  pre {
    font-size: 12px;
  }
}

.action {
  background-color: $menu-color;
  color: $white;
  padding: 1.7em;
  text-align: center;

  h2 {
    color: $white;
  }
}

.action-inner {
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width: $break) {
  .menu {
    font-size: 15px;
  }
}

.footer {
  padding: 18px;
  color: $footer-color;
  background-color: $menu-color;
  text-align: center;
  font-size: 14px;
}
