@import '../../../css/style.scss';

$callout-note: #ffb300;
$callout-hint: rgb(45, 121, 210);

$pre-before: $p-soft;
$pre-before-syntax: $p-intermediate;
$pre-before-negative: $callout-note;
$pre-before-specification: $p-soft;

$syntax-placeholder-color: lighten($p-intermediate, 60%);

$version-color: $p-soft;

$content-width: 750px;

$toc-color: $p-gray;
$toc-item-color: $p-intermediate;
$toc-current-color: #934edc;
$toc-hover-color: lighten($p-intermediate, 50%);
$toc-width: 280px;
$toc-margin-right: 36px;

$improve-background: $p-gray;

.docs-header {
  display: flex;
  align-items: center;
  background-color: $p-gray;
  padding: 1.25em;

  a {
    color: $heading-color;
    text-decoration: none;
  }
}

.docs-header-right {
  margin-left: auto;

  a {
    margin-left: 0.4em;

    &.active {
      border-bottom: 1px solid $heading-color;
    }
  }
}

.docs-header-title {
  font-size: 1.25em;
}

.docs-header-version {
  background-color: $p-soft;
  border-radius: 4px;
  padding: 0.2em 0.3em;
  color: $white;
  font-size: 1rem;
}

@mixin syntax-before($text, $color) {
  text-transform: uppercase;
  font-size: 10.8px;
  padding: 0.6em 0.8em;
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  color: $white;
  border-bottom-left-radius: 4px;
  background-color: $color;
  content: $text;
}

.syntax {
  font-size: 0.6875em;

  &::before {
    @include syntax-before('Syntax', $pre-before-syntax);
  }
}

.negative-example::before {
  @include syntax-before('Don’t Example', $pre-before-negative);
}

.declaration::before {
  @include syntax-before('Declaration', $pre-before-specification);
}

pre:not(.negative-example):not(.syntax):not(.declaration)::before {
  @include syntax-before('Example', $pre-before);
}

.syntax-placeholder {
  display: inline-block;
  border-radius: 7px;
  margin: 0.1em 0;
  padding: 0.25em 0.38em;
  background-color: $syntax-placeholder-color;
}

section,
.content {
  max-width: $content-width;
  margin: 0 auto;
  padding: 0 20px;
}

// ==== SPECIAL ====

.method-emoji {
  font-size: 36px;
}

.link-list {
  a {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.2em;
    margin: 0;
    border: 2px solid $p-gray;
    text-decoration: none;
    margin-top: -2px;

    &:hover {
      background: linear-gradient(to top, darken($p-gray, 0.6%), $p-gray);
      text-decoration: none;
    }

    .name {
      font-size: 1.8em;
      margin: 0.15em 0.25em;
      margin-right: 0.4em;
    }

    &:first-child {
      margin-top: 0;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    &:last-child {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}

.toc {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  font-size: 16px;
  z-index: 100;
  background-color: $toc-color;
  border-radius: 4px;
  max-height: calc(100vh - #{$menu-height + 73px} - 4.9rem);

  h2,
  h3 {
    margin: 0.8em;
  }

  ul,
  ol {
    padding: 0;
    list-style: none;
  }
}

.section-link,
.chapter-link {
  color: $toc-item-color;
  display: block;
  padding: 0.35em 0.75em;
  border-left: 10px solid transparent;

  &:hover {
    background-color: $toc-hover-color;
    text-decoration: none;
  }

  &.current {
    border-left: 10px solid $toc-current-color;
    background-color: $toc-hover-color;
  }
}

.section-link {
  padding-left: 2rem;
  font-size: 0.875em;
}

@media (min-width: 750px), print {
  .toc-wrapper {
    position: absolute;
    left: 0;
    top: 0;
  }

  .toc {
    position: fixed;
    width: $toc-width;
  }

  .content {
    position: relative;
    padding-left: $toc-width + $toc-margin-right;
    max-width: $content-width + $toc-width + $toc-margin-right;
  }
}

// ===== CALLOUTS =====

@mixin callout($color) {
  margin: 25px 0;
  background-color: lighten($color, 41%);

  .title {
    background-color: $color;
    color: $white;
    padding: 7px;
    margin: 0;
  }

  .text {
    padding: 0.75em 0.7em;
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.callout-caution {
  @include callout($callout-note);
}

.callout-hint {
  @include callout($callout-hint);
}

.instructions-table {
  font-size: 16px;

  ol {
    margin: 0;
  }
}

.book-navigation-bottom {
  display: flex;

  .right {
    text-align: right;
    flex: 1;
  }
}

.book-improve {
  font-size: 0.875em;
  padding: 1em;
  margin: 1rem 0;
  background-color: $improve-background;
  border-radius: 4px;
}

// ==== MAGIC INSTALL ====

.magic-install-sw {
  display: flex;
}

.magic-install-sw-box {
  width: 33.33333%;

  select {
    width: 100%;
  }

  &.center {
    padding: 0 0.75em;
  }
}

.magic-install-sw-label {
  color: $heading-color;
  display: block;
  margin-bottom: 0.18em;
}

.magic-install-sw-help {
  color: $heading-color;
  font-size: 0.66667em;
  margin-top: 0.15em;
}
